.container {
    background-image: linear-gradient(rgba(43, 40, 37, 0.514), rgba(43, 40, 37, .514)),url('img/banner2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.card{
    /* margin: 2rem; */
    padding: 4rem;
    border:none;
    display: flex;
    justify-content: center;   
}



.box {
    width: 500px;
    padding: 4rem;
    background: #E59DA6;
    text-align: center;
    align-items: center;
    border-radius: 6px;
    
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
}

.box .buttons {
        display: flex;
}

.box input[type="submit"], .box .back {
    width: 150px;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid;
    padding: 14px 0;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

.box input[type="submit"]:hover, .box .back:hover {
    background: white;
    color: #E59DA6;
}