.editPage {
    background-image: linear-gradient(rgba(43, 40, 37, 0.514), rgba(43, 40, 37, .514)),url('img/comment.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.card{
    padding: 4rem;
    border:none;
    display: flex;
    justify-content: center;   
}

.box {
    width: 500px;
    padding: 2rem 4rem;
    background: #E59DA6;
    text-align: center;
    align-items: center;
    border-radius: 6px;
} 

.line {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.box input[type="text"], .box textarea  {
    border: 0;
    background: none;
    display: block;
    /* margin: 20px auto;
    border: 2px solid; */
    padding: 10px 10px;
    width: 250px;
    outline: none;
    transition: 0.25s;
    background-color: white;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem;
}


.box input[type="text"]:focus {
    
}

.box input[type="text"], .box textarea  {
    border: 0;
    background: none;
    display: block;
    /* margin: 20px auto; */
    /* border: 2px solid; */
    border-radius: 10px;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    transition: 0.25s;
    background-color: white;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background-color: white;
    color: #E59DA6;
}




.forgot {
    text-decoration: underline
}