.row {
    display: flex;
    justify-content: space-around;
}

.box i {
    color: black;
    padding-right: 1em;
}

h1 {
    color: white;
    text-transform: uppercase;
    align-items: center;
}

.leftCard {
    background-color: #E59DA6;

}

.text {
    color: white;
}

.box {
    text-align: center;
    padding: 2em;
}

.box p {
    padding-top: 2em;
}

.border {
    position: relative;
    max-width: 31%;
    
}


.border::before {
    color: white;
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: none;
    border: 1px solid var(--light);
    z-index: 0;
}

.cards {
    display: flex;
    gap: 7rem;

}

.contact, .info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-top: 2rem;
}

.line {
    display: flex;

}

.line i, .info i {
    color: #E59DA6;
    margin-right: 0.5rem;
}

.icons i {
    font-size: 0.9rem;;
}

.infoCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link {
    color: white;
}

.link:hover {
    color:#E59DA6
}





